# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log
yarn-debug.log
debug.log
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Database files
*.sqlite
*.sqlite3
/data/db/
dump.rdb
*.lock

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
out/
coverage/
